.home-layout-container {
  .home-layout-header {
    nav {
      height: calc(4rem - 1px);
      display: flex;
      align-items: center;
      padding-left: 20rem;
      border-bottom: 1px solid #4a5d7e;
    }
  }
}
