.green {
  color: green;
}

.red {
  color: red;
}

.black {
  color: black;
}

.background-red {
  background-color: red;
}

.background-green {
  background-color: green;
}

.background-black {
  background-color: black;
}
