// paddings
.p10 {
  padding: 10px;
}

// margins
.m10 {
  margin: 10px;
}

// width
.w100-per {
  width: 100%;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w200 {
  width: 200px;
}

.w300 {
  width: 300px;
}
