$--primary-font: "Roboto", sans-serif;
$--secondary-font: "Poppins", sans-serif;

// TODO: implement light and dark theme wherever required
// Default theme
$theme-map-light: (
  --primary-font: $--primary-font,
  --theme-text: #333333,
  --theme-background: white,

  --primary-color: #013975,
  --secondary-color: white,
  --tertiary-color: #011e3c,

  --success-color: #28a745,
  --error-color: #dc3545,
  --warning-color: #ffc107,
  --info-color: #007bff,

  --primary-link-color: #007bff,
  --secondary-link-color: #6c757d,
  --tertiary-link-color: #6c757d,

  --border-color: #dee2e6,

  --toast-info-color: #3182ce,
  --toast-info-bg-color: #bee3f8,
  --toast-warning-color: #dd6b20,
  --toast-warning-bg-color: #feebc8,
  --toast-error-color: #e53e3e,
  --toast-error-bg-color: #fed7d7,
  --toast-success-color: #38a169,
  --toast-success-bg-color: #c6f6d5,
);

// Override the default light theme
$theme-map-dark: (
  --primary-font: $--primary-font,
  --theme-text: whitesmoke,
  --theme-background: #333333,
  --theme-btn-primary-bg: #07284b,

  --theme-btn-primary-text: white,
  --theme-btn-primary-hover-bg: #013975,
  --theme-btn-primary-hover-text: whitesmoke,

  --primary-color: whitesmoke,
  --secondary-color: #013975,
  --tertiary-color: #011e3c,

  --success-color: #28a745,
  --error-color: #dc3545,
  --warning-color: #ffc107,
  --info-color: #007bff,

  --primary-link-color: #007bff,
  --secondary-link-color: #6c757d,
  --tertiary-link-color: #6c757d,

  --border-color: #4b4b4b,

  --toast-info-color: #3182ce,
  --toast-info-bg-color: #bee3f8,
  --toast-warning-color: #dd6b20,
  --toast-warning-bg-color: #feebc8,
  --toast-error-color: #e53e3e,
  --toast-error-bg-color: #fed7d7,
  --toast-success-color: #38a169,
  --toast-success-bg-color: #c6f6d5,
);
