.btn {
  all: unset;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  width: fit-content;
}

.btn-primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);

  &:hover {
    background-color: var(--btn-primary-hover-bg);
    color: var(--btn-primary-hover-text);
  }
}

.btn-secondary {
  background-color: var(--btn-secondary-bg);
  color: var(--btn-secondary-text);

  &:hover {
    background-color: var(--btn-secondary-hover-bg);
    color: var(--btn-secondary-hover-text);
  }
}
