.text-field {
  all: unset;
  height: 30px;
  padding: 0 10px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:focus {
    border-color: var(--primary-color);
  }

  &:hover {
    border-color: var(--primary-color);
  }

  &:disabled {
    background-color: var(--disabled-bg-color);
    color: var(--disabled-text-color);
    border-color: var(--border-color);
    cursor: not-allowed;
  }
}

button.btn-password-field {
  position: relative;
  right: 2.6rem;

  i {
    width: 1.2rem;
  }
}
