.chips-container {
  display: flex;
  column-gap: 10px;
  .chip {
    background-color: var(--chip-bg-color);
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
  }
}
