.navbar-container {
  background-color: var(--nav-link-bg-color);
}

.nav-link {
  all: unset;
  cursor: pointer;
  color: var(--nav-link-text-color);
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--nav-link-hover-text-color);
    background-color: var(--nav-link-hover-bg-color);
  }

  &:active {
    color: var(--nav-link-hover-text-color);
    background-color: var(--nav-link-hover-bg-color);
  }
}

.nav-custom {
  background-color: gray;
  color: white;

  &:hover {
    color: #013975;
    background-color: lightgray;
    text-decoration: none;
  }
}
