.navbar-container {
  background-color: #007bff;
}

.nav-link {
  all: unset;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: orangered;
    text-decoration: none;
  }
}

.nav-secondary {
  background-color: lightgrey;
  color: #0069d9;

  &:hover {
    color: orangered;
    text-decoration: none;
  }
}
