@import "./styles/colors";
@import "./styles/flex";
@import "./styles/spacings";
@import "./styles/themes";

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--theme-background);
  color: var(--theme-text);
}

hr {
  clear: both;
  border: none;
  display: block;
  background-color: lightgrey;
  height: 1px;
  width: 100%;
}

h4 {
  margin: 0;
}
