@import "./styles/colors";
@import "./styles/flex";
@import "./styles/spacings";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

hr {
  clear: both;
  border: none;
  display: block;
  background-color: lightgrey;
  height: 1px;
  width: 100%;
}

h4 {
  margin: 0;
}
